<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>HOUSE BY DAMO</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link rel="shortcut icon" href="/img/casaLogo.png">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="../https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../lib/animate-css/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">

</head>


<body>
    <!--==========================
  Sección de encabezado
  ============================-->
  
      <header id="header">
        <div class="container">
          <div id="logo" class="pull-left">
            <a href="#hero"><img src="../img/logo2.png"  alt="" title="" /></img></a>
            <!-- Descomenta abajo si prefieres usar una imagen de texto -->
            <!--<h1><a href="#hero">Encabezado 1</a></h1>-->
          </div>

          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><a href="http://localhost:3000/">Inicio</a></li>
              <li><a href="http://localhost:3000/">Acerca de nosotros</a></li>
              <li><a href="">Servicios</a></li>
              <li><a href="/casas/ver">Inmuebles</a></li>
              <!--<li><a href="http://localhost:3000/">Scrum team</a></li> -->
              <li><a href="/users/crear">mi cuenta </a></li>
              <li><a style="color:#26eb0c"; >Bienvenido (dataParaVerificadoUser)'' <%= dataParaVerificadoUser[0].nombre  %> <%= dataParaVerificadoUser[0].apellido  %> ////</a></li>
            </ul>
          </nav>
          <!-- #nav-menu-container -->
        </div>
      </header>