<%- include ../layouts/cabecera.ejs %> 
      


        <h1>/</h1>
        <h1>Indexxxxxxxxxxxxxxxxx</h1>
        <h1>Indexxxxxxxxxxxxxxxxx</h1>
        <h1>Indexxxxxxxxxxxxxxxxx</h1>
        <h1>Indexxxxxxxxxxxxxxxxx</h1>

        <%- include ../layouts/pie.ejs %> 
    