<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>HOUSE BY DAMO</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link rel="shortcut icon" href="/img/casaLogo.png">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->

  <!-- Google Fonts -->
  <link href="../https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../lib/animate-css/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">
  </head>


<body>
  <!--==========================
  Sección de encabezado
  ============================-->

  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <a href="#hero"><img src="../img/logo2.png" alt="" title="" /></img></a>
        <!-- Descomenta abajo si prefieres usar una imagen de texto -->
        <!--<h1><a href="#hero">Encabezado 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="http://localhost:3000/">Inicio</a></li>
          <li><a href="http://localhost:3000/#about">Acerca de nosotros</a></li>
          <li><a href="/casas/ver">Inmuebles</a></li>
          <li><a href="http://localhost:3000/#team">Scrum team</a></li>
          <li><a href="/users/crear">Registrate ahora</a></li>
          <li><a href="../users/login">inicia session</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->
<!-- //SE NECESITA PARA USERS -->

<body>
  <div id="preloader"></div>
  <!--==========================
    Hero Section
    ============================-->

  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="../img/user.png" width="200" alt="ProOnliPc">
        </div>

        <h1>Registrate ahora </h1>
        <h2>Para ser <span class="rotating">parte de nosotros, un arrendador, un arrendatario </span></h2>
      </div>
    </div>
  </section>


  <!--==========================
    Formulario
    ============================-->

  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <form method="post" action="/users">
            <!--Envia la informacion a casas y se recepciona el route/casas-->

            <!-- b-form-group -->



            <div class="form-group">
              <label for="my-input">nombre</label>
              <input id="my-input" class="form-control" type="text" name="nombre">
            </div>
            <div class="form-group">
              <label for="my-input">apellidos</label>
              <input id="my-input" class="form-control" type="text" name="apellido">
            </div>
            <div class="form-group">
              <label for="my-input">edad</label>
              <input id="my-input" class="form-control" type="number" name="edad">
            </div>
            <div class="form-group">
              <label for="my-input">correo electronico</label>
              <input id="my-input" class="form-control" type="text" name="correo">
            </div>
            <div class="form-group">
              <label for="my-input">contraseña</label>
              <input id="my-input" class="form-control" type="text" name="contrasena">
            </div>
            <div class="form-group">
              <label for="my-select">sexo</label>
              <select id="my-select" class="form-control" name="sexo">
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
              </select>
            </div>
            <div class="form-group">
              <label for="my-input">curp</label>
              <input id="my-input" class="form-control" type="text" name="curp">
            </div>
            <div class="form-group">
              <label for="my-input"> 0)Simplemente quiero ver a arrendar casas<br>1)Quiero dar a conocer mis inmuebles</label>
              <input id="my-input" class="form-control" type="number" name="admin">
            </div>
            <div class="form-group">
              <label for="my-input">Numero de telefono</label>
              <input id="my-input" class="form-control" type="text" name="numero_tel">
            </div>

            <!-- b-btn -->
            <br>
            <center>
              <button class="button button-secondary button-pipaluk" type="submit" href="../">Guardar</button><br>

              <a class="button button-secondary button-pipaluk"  href="../">Cancelar </a>
            </center>

          </form>

  </section>


  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <%- include ../layouts/pie.ejs %>