<%- include ../layouts/cabecera.ejs %>
  <div id="preloader"></div>

  <!--==========================
  Sección de encabezado
  ============================-->

  
  <!-- #header -->

  <!--==========================
  Hero Section
  ============================-->

  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="../img/casa.webp" width="200" alt="ProOnliPc">
        </div>

        <h1>Registra tu inmueble</h1>
        <h2>Para ser <span class="rotating">parte de nosotros, un arrendador, un arrendatario </span></h2>
      </div>
    </div>
  </section>
 

  <!--==========================
  Formulario
  ============================-->

  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <form method="post" action="/users" enctype="multipart/form-data">
            <!--Envia la informacion a casas y se recepciona el route/casas-->

            <!-- b-form-group -->
            <!-- <div class="form-group">
              <label for="my-input">ID</label>//type file
              <input id="my-input" class="form-control-file" type="number" name="id">
            </div> -->

            <div class="form-group">
              <label for="my-input">Municipio:</label>
              <input id="my-input" class="form-control" type="text" name="municipio">
            </div>
            <div class="form-group">
              <label for="my-input">calle:</label>
              <input id="my-input" class="form-control" type="text" name="calle">
            </div>
            <div class="form-group">
              <label for="my-input">codigo Postal:</label>
              <input id="my-input" class="form-control" type="number" name="codigo_postal">
            </div>
            <div class="form-group">
              <label for="my-input">Numero Exterior:</label>
              <input id="my-input" class="form-control" type="number" name="numero_exterior">
            </div>
            <div class="form-group">
              <label for="my-input">Dimencionde del inmueble en m²: (metros cuadrados)</label>
              <input id="my-input" class="form-control" type="text" name="dimenciones">
            </div>
            <div class="form-group">
              <label for="my-input">Cantidad de Baños:</label>
              <input id="my-input" class="form-control" type="number" name="c_banos">
            </div>
            <div class="form-group">
              <label for="my-input">Cantidad de Recamaras:</label>
              <input id="my-input" class="form-control" type="number" name="c_recamaras">
            </div>
            <div class="form-group">
              <label for="my-select">Amueblado:</label>
              <select id="my-select" class="form-control" name="amueblado">
                <option value="0">NO</option>
                <option value="1">YES</option>
              </select>
            </div>
            <div class="form-group">
              <label for="my-select">Internet:</label>
              <select id="my-select" class="form-control" name="internet">
                <option value="0">NO</option>
                <option value="1">YES</option>
              </select>
              <div class="form-group">
                <label for="my-select">Aire Acondicionado:</label>
                <select id="my-select" class="form-control" name="aire_acondicionado">
                  <option value="0">NO</option>
                  <option value="1">YES</option>
                </select>
              </div>
              <div class="form-group">
                <label for="my-input">Precio (mensual):</label>
                <input id="my-input" class="form-control" type="number" name="precio">
              </div>
              <div class="form-group">
                <label for="my-input">Descripción del inmueble:</label>
                <input id="my-input" class="form-control" type="text" name="descripcion_general">
              </div>
              <div class="form-group">
                <label for="my-select">Tipo de inmueble:</label>
                <select id="my-select" class="form-control" name="tipo_depa0_casa1">
                  <option value="1">Casa</option>
                  <option value="0">Departamento</option>
                </select>
              </div>
              <div class="form-group">
                <label for="my-input">Ingrese su ID usuario:</label>
                <input id="my-input" class="form-control" type="number" name="id_propietario">
              </div>

              <div class="form-group">
                <label for="my-select">Estado del inmueble: </label>
                <select id="my-select" class="form-control" name="disponible1_No0">
                  <option value="0">Disponible</option>
                  <option value="1">Ocupado</option>
                </select>
              </div>
              <!-- b-form-file -->

              <div class="form-group">Imagen</label>
                <input id="my-input" class="form-control-file" type="file" name="archivo">
              </div>

              <!-- b-btn -->
              <br>
              <center>
                <button class="btn btn-success" type="submit" href="../">Guardar</button>

                <a class="btn btn-primary" href="../">Cancelar </a>

              </center>
          
          </form>
  </section>


  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>



    <%- include ../layouts/pie.ejs %> 
