<%- include ../layouts/cabecera.ejs %>
<!-- //SE NECESITA PARA USERS -->

    <body >
      

        <div id="preloader"></div>

        <section id="hero" >
            <div class="hero-container" style="font-size:200% ;">
           <h1><%= alert  %><br><br></h1>
                      <div class="form-group">
                        <label style="color:#ffffff" for="my-input">Correo</label>
                        <input id="correo" class="form-control-file" type="text" name="correo" placeholder="Damo@example.com">
                    </div>
                    <div class="form-group">
                        <label style="color:#ffffff" for="my-input">contraseña</label>
                        <input id="contrasena" class="form-control-file" type="password"  name="contrasena">
                    </div>
                    <div id="H">
                    <button type="button" class="btn btn-primary" onclick="Verificar()" >Verificar existencia </button>
                      </div>
                      </div>
                    </section>
                      <script onload="Verificar()">
                        function Verificar(){
                        document.getElementById('H').innerHTML=''+
                        `<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <form id="formulario" class="form-inline"     method="get" action="/users/verificar/`+
                        (document.getElementById('correo').value)+','+(document.getElementById('contrasena').value)+
                        `"><button class="btn btn-success" type="submit" ><h1>LOGIN</h1> </button> </form>`;
                        }
                      </script>
                      <!-- <script>

                        $(document).ready(function() {
                    
                            $('#formulario').submit(function(e) {
                                e.preventDefault();
                                let correo=document.getElementById('correo').value+'';
                                let contrasena=document.getElementById('contrasena').value+'';

                                $.ajax({
                                    type: "POST",
                                    url: 'http://localhost:3000/users/verificar/'+correo+','+contrasena,
                                    headers: {'Authorization': 'Bearer xxxxxxxxxxxxx'},
                                    data: $(this).serialize(),
                                    success: function(response)
                                    {
                                     const ruta = JSON.parse(response);
                                      console.log(ruta);
                                      window.location.href = ruta.redirect;
                                   },
                                   error:function(error){
                                    console.log(e.message);
                                   }
                               });
                             });
                        });
                    </script> -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <%- include ../layouts/pie.ejs %>