<%- include ../layouts/cabecera.ejs %>
<!-- //SE NECESITA PARA USERS -->
<script>
    function funcionprueba(){
        // let users=new Array();
        // users=UnicoDatosUser
       let correo= document.getElementById("correo").value;
       let contrasena= document.getElementById("contrasena").value;
       for(let i = 0; i < users.length; i++){
        if(UnicoDatosUser[i].correo==correo){
            console.log("Correo OK")
            if(UnicoDatosUser[i].contrasena==contrasena){
                console.log("Contrase침a")
            //     document.getElementById("impresion").innerHTML=""+
            // '<a class="btn btn-primary" href="../casas">Cancelar </a>';
            }
            console.log("segundo if")
            // console.log("Holaaaaaaa")
            
            // window.location.href = "https://professor-falken.com";
            // res.render("/usuarioAdmin/ver")
        }

       }
       console.log("No POSIBLE")
        // document.getElementById("impresion").innerHTML=""+
        //     'ALGUN DATO ESTA MAL';
} 

</script>
    <body >
        <div id="preloader"></div>

        <section id="hero">
            <div class="hero-container">
                <form method="post"  >
                    <!--Envia la informacion a user y se recepciona el route/casas-->

                    <!-- datos de inicio de session  -->
                    <h1>inicio de sessi칩n </h1>
                    <br>
                    <br>
                    <div class="form-group">
                        <label style="color:#ffffff" for="my-input"> electronico</label>
                        <input id="correo" class="form-control-file" type="text" name="correo"
                            placeholder="Damo@example.com">
                    </div>
                    <div class="form-group">
                        <label style="color:#ffffff" for="my-input">contrase침a</label>
                        <input id="contrasena" class="form-control-file" type="password" name="contrase침a">
                    </div>
                    <!-- b-btns -->
                    <% for( let i = 0; i < UnicoDatosUser.length; i++ ) { %>
                        <div class="form-group">
                            <label style="color:#ffffff" for="my-input">TTTT</label>
                            <input id="my-input" class="form-control-file" value="<%=UnicoDatosUser[i].nombre%>" type="text" name="D">
                        </div>
                    <% } %> 
                    <br>
                    <center>
                        <button onclick="funcionprueba()" >Coprobar datos</button>
                        <div id="impresion">

                        </div>
                        <a class="btn btn-primary" href="../casas">Cancelar </a>
                    </center>
                </form>
            </div>
        </section>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <%- include ../layouts/pie.ejs %>