<%- include ../layouts/cabecera.ejs %>
<!-- //SE NECESITA PARA USERS -->

    <body>
        <div id="preloader"></div>

        <section id="hero">
            <div class="hero-container">
                <form method="post" action="/casas" enctype="multipart/form-data">
                    <!--Envia la informacion a user y se recepciona el route/casas-->

                    <!-- datos de inicio de session  -->
                    <h1>inicio de sessi칩n </h1>
                    <br>
                    <br>
                    <div class="form-group">
                        <label style="color:#ffffff" for="my-input">correo electronico</label>
                        <input id="my-input" class="form-control-file" type="email" name="coreo"
                            placeholder="Damo@example.com">
                    </div>
                    <div class="form-group">
                        <label style="color:#ffffff" for="my-input">contrase침a</label>
                        <input id="my-input" class="form-control-file" type="password" name="contrase침a">
                    </div>
                    <!-- b-btns -->

                    <br>
                    <center>
                        <button class="btn btn-success" type="submit">iniciar sessi칩n</button>
                        <a class="btn btn-primary" href="../casas">Cancelar </a>
                    </center>
                </form>
            </div>
        </section>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <%- include ../layouts/pie.ejs %>